<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Posts</title>
    <link rel="stylesheet" href="/css/new.css">
</head>
<body>
    <h1>Create A New Post For Quora</h1>
    <iframe src="https://lottie.host/embed/2aecb312-3217-40d0-b5d6-2bfb7e983a94/Z3yMZpXnIS.json"></iframe>
    <form method="post" action="/posts">
        <input type="text" placeholder="name" name="username"> <br><br>
        <textarea placeholder="Write your Post Here..." name="content"></textarea> <br><br>
        <button>Submit</button>
    </form>
</body>
</html>