<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST In Details</title>
    <link rel="stylesheet" href="/css/show.css">
</head>

<body>
    <h1>post posted by you</h1>
    <div class="cont">
        <h4>id : <%= post.id %>
        </h4>
        <h3>Username : <%= post.username %>
        </h3>
        <p>Content : <%= post.content %>
        </p>
    </div>
</body>

</html>